[user]
	name = murase_syuka
	email = murase.syuka+github@gmail.com
[color]
	diff = auto
	status = auto
	branch = auto
[alias]
        s = status
                st = status
                ci = commit
                co = checkout
        cob = checkout -b
                br = branch
                sh = !git-sh
        a = add
        aa = add -A
        b = branch
	        ba = branch -a
        sa = stash
        sap = stash pop
        di = diff
        dic = diff --cached
        r = reset
        svnci = svn dcommit -e
        svnre = svn rebase
        m = merge
        pullup = pull --ff-only upstream master
[core]
	pager = lv -c
[merge]
        ff = false

[push]
	default = simple
