[user]
	name = murase_syuka
	email = murase.syuka+github@gmail.com
[color]
	diff = auto
	status = auto
	branch = auto
[alias]
        s = status
                st = status
                ci = commit
                co = checkout
        cob = checkout -b
                br = branch
                sh = !git-sh
        a = add
        aa = add -A
        aw = !"git diff -w --no-color | git apply --cached"
        b = branch
                ba = branch -a
        sa = stash
        sap = stash pop
        sm = submodule
                sup = submodule update --recursive
                smup = submodule update
        di = diff
                dic = diff --cached
        r = reset
        re = remote
                reup = remote update
        m = merge
        svnci = svn dcommit -e
        svnre = svn rebase
        pullup = pull --ff-only upstream master
        lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
        lga = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
[core]
	pager = lv -c
[merge]
        ff = false

[push]
	default = simple

[git-buildpackage]
	upstream-tag = upstream%(version)s

